body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    z-index: 1000;
}




.container {
    position: relative;
    margin-top: 90px;
    margin-bottom: 60px;
    padding: 3dvh;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}


.item {
    width: 260px;
    border: 2px solid #333;
    border-radius: 6px;   
    box-shadow: 0 6px 14px rgba(0,0,0,0.18);     
    padding: 15px;                
    margin: 10px;                  
    background: #f5f5f5;
    position: static;              
}


.image {
    position: relative;
}


.image img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    background: #eee;
    display: block;
}


.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 3px;
    background: #333;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
}


.item h3 {
    margin-top: 10px;
}

.item p {
    font-size: 14px;
}


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
