body {
    font-family: Arial;
    margin: 20px;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

.filter-box {
    text-align: center;
    margin-bottom: 20px;
}

.filter-box input,
.filter-box select,
.filter-box button {
    padding: 6px;
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}